In [3]:
library(tidyr)

data <- read.csv("13100389.csv")
head(data)

  ï..REF_DATE GEO    DGUID          Age.group Sex
1 2006/2008   Canada 2016A000011124 At birth  Both sexes
2 2006/2008   Canada 2016A000011124 At birth  Both sexes
3 2006/2008   Canada 2016A000011124 At birth  Both sexes
4 2006/2008   Canada 2016A000011124 At birth  Males
5 2006/2008   Canada 2016A000011124 At birth  Males
6 2006/2008   Canada 2016A000011124 At birth  Males
  Characteristics                               UOM   UOM_ID SCALAR_FACTOR
1 Life expectancy                               Years 308    units
2 Low 95% confidence interval, life expectancy  Years 308    units
3 High 95% confidence interval, life expectancy Years 308    units
4 Life expectancy                               Years 308    units
5 Low 95% confidence interval, life expectancy  Years 308    units
6 High 95% confidence interval, life expectancy Years 308    units
  SCALAR_ID VECTOR      COORDINATE VALUE STATUS SYMBOL TERMINATED DECIMALS
1 0         v1063744202 1.1.1.1    80.7  NA     NA     NA         1
2 0         v1063744203 1.1.1.2    80.7  NA     NA     NA         1
3 0         v1063744204 1.1.1.3    80.7  NA     NA     NA         1
4 0         v1063744205 1.1.2.1    78.3  NA     NA     NA         1
5 0         v1063744206 1.1.2.2    78.3  NA     NA     NA         1
6 0         v1063744207 1.1.2.3    78.4  NA     NA     NA         1

In [7]:
clear_date <- data |> 
  pivot_wider(names_from = ï..REF_DATE, values_from = VALUE) |> 
  pivot_wider(names_from = ï..REF_DATE, values_from = VALUE) 
head(clear_date)

  GEO    DGUID          Age.group Sex
1 Canada 2016A000011124 At birth  Both sexes
2 Canada 2016A000011124 At birth  Both sexes
3 Canada 2016A000011124 At birth  Both sexes
4 Canada 2016A000011124 At birth  Males
5 Canada 2016A000011124 At birth  Males
6 Canada 2016A000011124 At birth  Males
  Characteristics                               UOM   UOM_ID SCALAR_FACTOR
1 Life expectancy                               Years 308    units
2 Low 95% confidence interval, life expectancy  Years 308    units
3 High 95% confidence interval, life expectancy Years 308    units
4 Life expectancy                               Years 308    units
5 Low 95% confidence interval, life expectancy  Years 308    units
6 High 95% confidence interval, life expectancy Years 308    units
  SCALAR_ID VECTOR      ... 2006/2008 2007/2009 2008/2010 2009/2011 2010/2012
1 0         v1063744202 ... 80.7      80.9      81.1      81.4      81.7
2 0         v1063744203 ... 80.7      80.8      81.1      81.4      81.6
3 0         v1063744204 ... 80.7      80.9      81.2      81.4      81.7
4 0         v1063744205 ... 78.3      78.5      78.8      79.2      79.4
5 0         v1063744206 ... 78.3      78.5      78.8      79.1      79.4
6 0         v1063744207 ... 78.4      78.6      78.9      79.2      79.5
  2011/2013 2012/2014 2013/2015 2014/2016 2015/2017
1 81.8      81.9      82.0      82.0      82.1
2 81.8      81.9      81.9      82.0      82.1
3 81.9      81.9      82.0      82.1      82.1
4 79.6      79.8      79.8      79.9      80.0
5 79.6      79.7      79.8      79.9      79.9
6 79.7      79.8      79.9      80.0      80.0